.clearfix,
#wrap .content .list .item .home .home-2 {
  *zoom: 1;
}
.clearfix::after,
#wrap .content .list .item .home .home-2::after {
  content: "";
  display: block;
  clear: both;
}
@keyframes robotMove {
  0% {
    transform: translateX(0px) rotateY(0deg);
  }
  49% {
    transform: translateX(-499px) rotateY(0deg);
  }
  50% {
    transform: translateX(-500px) rotateY(180deg);
  }
  99% {
    transform: translateX(-1px) rotateY(180deg);
  }
  100% {
    transform: translateX(0px) rotateY(0deg);
  }
}
@keyframes leftHide {
  0% {
    visibility: visible;
    transform: translateZ(0px);
  }
  50% {
    transform: translateX(-30%) rotateY(45deg) scale(0.8);
  }
  100% {
    visibility: hidden;
    transform: translateZ(-200px);
  }
}
@keyframes leftShow {
  0% {
    visibility: hidden;
    transform: translateZ(-200px);
  }
  50% {
    transform: translateX(-30%) rotateY(45deg) scale(0.8);
  }
  100% {
    visibility: visible;
    transform: translateZ(0px);
  }
}
@keyframes rightShow {
  0% {
    visibility: hidden;
    transform: translateZ(-200px);
  }
  50% {
    transform: translateX(30%) rotateY(-45deg) scale(0.8);
  }
  100% {
    visibility: visible;
    transform: translateZ(0px);
  }
}
@keyframes rightHide {
  0% {
    visibility: visible;
    transform: translateZ(0px);
  }
  50% {
    transform: translateX(30%) rotateY(-45deg) scale(0.8);
  }
  100% {
    visibility: hidden;
    transform: translateZ(-200px);
  }
}
#wrap .content .list .item .home .home-1 {
  width: 100%;
  height: 100%;
  perspective: 1000px;
  transform-style: preserve-3d;
}
#wrap .content .list .item .home .home-1 .item {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: white;
  font: 100px/520px "MAGNETO";
  text-align: center;
  visibility: hidden;
}
#wrap .content .list .item .home .home-1 .item.active {
  visibility: visible;
}
#wrap .content .list .item .home .home-1 .item.rightShow {
  visibility: visible;
  transform: translateZ(0px);
  animation: rightShow 1s 1 linear ;
}
#wrap .content .list .item .home .home-1 .item.leftHide {
  visibility: hidden;
  transform: translateZ(-200px);
  animation: leftHide 1s 1 linear ;
}
#wrap .content .list .item .home .home-1 .item.rightHide {
  visibility: hidden;
  transform: translateZ(-200px);
  animation: rightHide 1s 1 linear ;
}
#wrap .content .list .item .home .home-1 .item.leftShow {
  visibility: visible;
  transform: translateZ(0px);
  animation: leftShow 1s 1 linear ;
}
#wrap .content .list .item .home .home-1 .item:nth-child(1) {
  background: #dc6c5f;
}
#wrap .content .list .item .home .home-1 .item:nth-child(2) {
  background: #95dc84;
}
#wrap .content .list .item .home .home-1 .item:nth-child(3) {
  background: #64b9d2;
}
#wrap .content .list .item .home .home-1 .item:nth-child(4) {
  background: #000000;
}
#wrap .content .list .item .home .home-2 {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
#wrap .content .list .item .home .home-2 .item {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  margin-left: 2px;
  box-shadow: 0 0 4px red;
  display: inline-block;
}
#wrap .content .list .item .home .home-2 .item.active {
  background: white;
}
