// 变量
// 混合
// 条件判断
// 嵌套
// 导入
// 运算符
// 内置函数

@import 'variable'
@import 'mixinss'

#app
  background-color $primary-color
  font 12px '微软雅黑'
  .container
    width 1000px
    margin 0 auto
    clearfix()

