.clearfix,
#wrap .content .list .item .course .course-3 .list {
  *zoom: 1;
}
.clearfix::after,
#wrap .content .list .item .course .course-3 .list::after {
  content: "";
  display: block;
  clear: both;
}
#wrap .content .list .item .course .course-1 {
  color: #009ee0;
  font-size: 80px;
  line-height: 0.8;
  font-weight: bold;
  letter-spacing: -5px;
  margin: 50px;
}
#wrap .content .list .item .course .course-2 {
  color: white;
  line-height: 1.5;
  font-size: 15px;
  width: 400px;
  margin-left: 50px;
}
#wrap .content .list .item .course .course-3 {
  position: absolute;
  right: 50px;
  top: 70px;
  width: 480px;
}
#wrap .content .list .item .course .course-3 .list li {
  position: relative;
  float: left;
  width: 120px;
  height: 132px;
  perspective: 500px;
  transform-style: preserve-3d;
}
#wrap .content .list .item .course .course-3 .list li:hover .face {
  transform: rotateY(180deg);
}
#wrap .content .list .item .course .course-3 .list li:hover .backFace {
  transform: rotateY(360deg);
}
#wrap .content .list .item .course .course-3 .list li .face {
  padding: 15px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background: url("../img/bks.png") no-repeat;
  background-position: 50% 50%;
  backface-visibility: hidden;
  transition: 1s transform;
}
#wrap .content .list .item .course .course-3 .list li .backFace {
  padding: 15px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background: #009ee0;
  color: white;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: 1s transform;
}
