html,
body {
  height: 100%;
  overflow: hidden;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0px;
  padding: 0px;
  font: 14px "微软雅黑";
}
a {
  text-decoration: none;
  display: block;
}
li {
  list-style: none;
}
img {
  display: block;
}
.clearfix {
  *zoom: 1;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
#wrap {
  width: 100%;
  height: 100%;
}
#wrap .head {
  width: 100%;
  background: white!important;
}
#wrap .head .head-main {
  position: relative;
  width: 1100px;
  height: 80px;
  margin: 0 auto;
}
#wrap .head .head-main .logo {
  display: inline-block;
  margin-top: 30px;
}
#wrap .head .head-main .nav {
  float: right;
  margin-top: 50px;
}
#wrap .head .head-main .nav > li {
  float: left;
  margin-left: 40px;
  color: #11A0DF;
}
#wrap .head .head-main .nav > li a {
  position: relative;
}
#wrap .head .head-main .nav > li a .down {
  transition: 1s width;
  overflow: hidden;
  width: 0;
  color: black;
  position: absolute;
  left: 0;
  top: 0;
}
#wrap .head .head-main .nav > li:hover .down {
  width: 100%;
}
#wrap .head .head-main .arrow {
  transition: 1s left;
  width: 21px;
  height: 11px;
  position: absolute;
  left: 50%;
  top: 80px;
  background: url("../img/arrow.png") no-repeat;
}
#wrap .content {
  height: 300px;
  background: pink;
}
