.clearfix {
  *zoom: 1;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
#wrap .content .list .item .team .team-1 {
  color: #009ee0;
  font-size: 80px;
  line-height: 0.8;
  font-weight: bold;
  letter-spacing: -5px;
  width: 400px;
  margin: 50px;
  float: left;
}
#wrap .content .list .item .team .team-2 {
  float: right;
  width: 400px;
  margin: 50px;
}
#wrap .content .list .item .team .team-2 p {
  color: white;
  line-height: 1.5;
  font-size: 15px;
}
#wrap .content .list .item .team .team-3 {
  position: absolute;
  left: 0;
  right: 0;
  top: 270px;
  margin: auto;
  width: 944px;
  height: 448px;
}
#wrap .content .list .item .team .team-3 li {
  float: left;
  width: 118px;
  height: 448px;
  box-sizing: border-box;
  background: url("../img/team.png") no-repeat;
}
#wrap .content .list .item .team .team-3 li:nth-child(2) {
  background-position: -118px 0;
}
#wrap .content .list .item .team .team-3 li:nth-child(3) {
  background-position: -236px 0;
}
#wrap .content .list .item .team .team-3 li:nth-child(4) {
  background-position: -354px 0;
}
#wrap .content .list .item .team .team-3 li:nth-child(5) {
  background-position: -472px 0;
}
#wrap .content .list .item .team .team-3 li:nth-child(6) {
  background-position: -590px 0;
}
#wrap .content .list .item .team .team-3 li:nth-child(7) {
  background-position: -708px 0;
}
#wrap .content .list .item .team .team-3 li:nth-child(8) {
  background-position: -826px 0;
}
#wrap .content .list .item .team .team-3 .qipao {
  display: none;
  position: absolute;
}
